<script>
	let current = '';
</script>

<button
	class="{current === 'Messi' ? 'selected' : ''}"
	on:click="{() => current = 'Messi'}"
>Messi</button>

<button
	class="{current === 'Ronaldo' ? 'selected' : ''}"
	on:click="{() => current = 'Ronaldo'}"
>Ronaldo</button>

<button
	class="{current === 'Neymar' ? 'selected' : ''}"
	on:click="{() => current = 'Neymar'}"
>Neymar</button>

<style>
	button {
		display: block;
	}

	.selected {
		background-color: #ff3e00;
		color: white;
	}
</style>