<span style="color:  steelblue;font-family: cursive;font-size: larger">  I </span>
    
<span style="color:  red;font-family: cursive;font-size: larger"> really</span>    
    
<span style="color:  steelblue;font-family: cursive;font-size: larger">    like data visualisation!</span>


